<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Technik</title>
    <link rel="stylesheet" href="../assets/css/nav_style.css">
    <link rel="stylesheet" href="../assets/css/body_style.css">
    <link rel="stylesheet" href="../assets/css/component_style.css">
    <script src="https://kit.fontawesome.com/be5b1ff12e.js" crossorigin="anonymous"></script>
    
</head>
<body>
        <header>
            <img src="../assets/img/LOGO.png" alt="">
        </header>
    
        <div class="nav" id="res_nav">
            <a href="../WebDesign_Project/index.html" >Home</a>
            <div class="dropdown">
            <button class="dropbtn" >Components
                <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                        <a href="../components/chasis.html">Chasis</a>
                        <a href="../components/processor.html">Processor</a>
                        <a href="../components/motherboard.html">Motherboard</a>
                        <a href="../components/memory.html">Memory</a>
                        <a href="../components/gpu.html">Graphics Card</a>
                        <a href="../components/psu.html">Power Supply</a>
                        <a href="../components/storage.html">Storage</a>
                </div>
            </div>    
            <a href="../contact.html">Contact Us</a>
            <a href="../about.html" class="active">About Us</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="nav_bar()">&#9776;</a>
            </a>
        </div>


        <div>

            <h2>Component > Graphics Card</h2>

            <div class="card">
                <img src="../assets/img/component/gpu/12.jpg" alt="Denim Jeans" >
                <h1>EVGA GeForce RTX 2080</h1>
                <p class="price">P44,368.63</p>
                <p>EVGA GeForce RTX 2080 XC ULTRA GAMING, 8GB GDDR6, Dual HDB Fans & RGB LED Graphics Card 08G-P4-2183-KR
</p>
                <p><button>Add to Cart</button></p>
            </div>

            <div class="card">
                <img src="../assets/img/component/gpu/VC3.jpg" alt="Denim Jeans" >
                <h1>NVIDIA GeForce RTX 2080Ti</h1>
                <p class="price">P78,035.26</p>
                <p>NVIDIA GEFORCE RTX 2080 Ti Founders Edition
</p>
                <p><button>Add to Cart</button></p>
              </div>

              <div class="card">
                <img src="../assets/img/component/gpu/VC4.jpg" alt="Denim Jeans" >
                <h1>ZOTAC GeForce GTX 1080Ti</h1>
                <p class="price">P67,334.25</p>
                <p>ZOTAC GeForce GTX 1080 Ti AMP Extreme Core Edition 11GB GDDR5X 352-bit PCIe 3.0 Gaming Graphics Card VR Ready (ZT-P10810F-10P)
</p>
                <p><button>Add to Cart</button></p>
              </div> 

        </div>


        <footer>
                <p class="disclaimer">DISCLAIMER: PRODUCT NAMES AND LOGOS USED IN THIS WEBSITE ARE FOR IDENTIFICATION PURPOSES ONLY AND ARE TRADEMARKS OF THEIR RESPECTIVE OWNERS.</p>
                <p class="copyright">COPYRIGHT © 2019 TECHNIK PC</p>
        </footer>

        <script src="../assets/js/main.js"></script>
</body>
</html>