<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Technik</title>
    <link rel="stylesheet" href="../assets/css/nav_style.css">
    <link rel="stylesheet" href="../assets/css/body_style.css">
    <link rel="stylesheet" href="../assets/css/component_style.css">
    <script src="https://kit.fontawesome.com/be5b1ff12e.js" crossorigin="anonymous"></script>
    
</head>
<body>
        <header>
            <img src="../assets/img/LOGO.png" alt="">
        </header>
    
        <div class="nav" id="res_nav">
            <a href="../WebDesign_Project/index.html" >Home</a>
            <div class="dropdown">
            <button class="dropbtn" >Components
                <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                        <a href="../components/chasis.html">Chasis</a>
                        <a href="../components/processor.html">Processor</a>
                        <a href="../components/motherboard.html">Motherboard</a>
                        <a href="../components/memory.html">Memory</a>
                        <a href="../components/gpu.html">Graphics Card</a>
                        <a href="../components/psu.html">Power Supply</a>
                        <a href="../components/storage.html">Storage</a>
                </div>
            </div>    
            <a href="../contact.html">Contact Us</a>
            <a href="../about.html" class="active">About Us</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="nav_bar()">&#9776;</a>
            </a>
        </div>

        <div>

            <h2>Component > Memory</h2>

            <div class="card">
                <img src="../assets/img/component/memory/RAM1.jpg" alt="Denim Jeans" >
                <h1>G.Skill TridentZ RGB Series</h1>
                <p class="price">P7,826.13</p>
                <p>G.Skill TridentZ RGB Series 16GB (2 x 8GB) (PC4 25600) F4-3200C16D-16GTZR</p>
                <p><button>Add to Cart</button></p>
            </div>

            <div class="card">
                <img src="../assets/img/component/memory/RAM3.jpg" alt="Denim Jeans" >
                <h1>HyperX Kingston Technology Fury Black</h1>
                <p class="price">P3,079.43</p>
                <p>HyperX Kingston Technology Fury Black 8 GB CL15 DIMM DDR4 2400 MT/s Internal Memory (HX424C15FB2/8)</p>
                <p><button>Add to Cart</button></p>
              </div>

              <div class="card">
                <img src="../assets/img/component/memory/RAM4.jpg" alt="Denim Jeans" >
                <h1>XPG Spectrix D80 Liquid-Cooled RGB</h1>
                <p class="price">P7,586.34</p>
                <p>XPG Spectrix D80 Liquid-Cooled RGB 3000MHz 16GB (2x8GB) 228-Pin PC4-24000 Desktop U-DIMM Memory Retail Kit (AX4U300038G16-DR80)</p>
                <p><button>Add to Cart</button></p>
              </div> 

        </div>





        <footer>
                <p class="disclaimer">DISCLAIMER: PRODUCT NAMES AND LOGOS USED IN THIS WEBSITE ARE FOR IDENTIFICATION PURPOSES ONLY AND ARE TRADEMARKS OF THEIR RESPECTIVE OWNERS.</p>
                <p class="copyright">COPYRIGHT © 2019 TECHNIK PC</p>
        </footer>

        <script src="../assets/js/main.js"></script>
</body>
</html>