<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Technik</title>
    <link rel="stylesheet" href="../assets/css/nav_style.css">
    <link rel="stylesheet" href="../assets/css/body_style.css">
    <link rel="stylesheet" href="../assets/css/component_style.css">
    <script src="https://kit.fontawesome.com/be5b1ff12e.js" crossorigin="anonymous"></script>
    
</head>
<body>
        <header>
            <img src="../assets/img/LOGO.png" alt="">
        </header>
    
        <div class="nav" id="res_nav">
            <a href="../WebDesign_Project/index.html" >Home</a>
            <div class="dropdown">
            <button class="dropbtn" >Components
                <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                        <a href="../components/chasis.html">Chasis</a>
                        <a href="../components/processor.html">Processor</a>
                        <a href="../components/motherboard.html">Motherboard</a>
                        <a href="../components/memory.html">Memory</a>
                        <a href="../components/gpu.html">Graphics Card</a>
                        <a href="../components/psu.html">Power Supply</a>
                        <a href="../components/storage.html">Storage</a>
                </div>
            </div>    
            <a href="../contact.html">Contact Us</a>
            <a href="../about.html" class="active">About Us</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="nav_bar()">&#9776;</a>
            </a>
        </div>

        <div>

            <h2>Component > Power Supply</h2>

            <div class="card">
                <img src="../assets/img/component/psu/PowerSupply2.jpg" alt="Denim Jeans" >
                <h1>EVGA SuperNOVA 1000 P2</h1>
                <p class="price">P9,339.21</p>
                <p>EVGA SuperNOVA 1000 P2, 80+ PLATINUM 1000W, Fully Modular, EVGA ECO Mode, 10 Year Warranty, Includes FREE Power On Self Tester, Power Supply 220-P2-1000-XR.</p>
                <p><button>Add to Cart</button></p>
            </div>

            <div class="card">
                <img src="../assets/img/component/psu/PowerSupply3.jpg" alt="Denim Jeans" >
                <h1>Rosewill Gaming Power Supply (1000)</h1>
                <p class="price">P5,747.65</p>
                <p>Rosewill Gaming Power Supply (1000) Watt 80 PLUS Bronze Certified PSU with Silent and Blue</p>
                <p><button>Add to Cart</button></p>
              </div>

              <div class="card">
                <img src="../assets/img/component/psu/PowerSupply4.jpg" alt="Denim Jeans" >
                <h1>Enermax Platimax 1350W</h1>
                <p class="price">P13,559.24</p>
                <p>Enermax Platimax 1350W 80 PLUS Platinum Certified Full Modular ATX12V/EPS12V SLI.</p>
                <p><button>Add to Cart</button></p>
              </div> 

        </div>



        <footer>
                <p class="disclaimer">DISCLAIMER: PRODUCT NAMES AND LOGOS USED IN THIS WEBSITE ARE FOR IDENTIFICATION PURPOSES ONLY AND ARE TRADEMARKS OF THEIR RESPECTIVE OWNERS.</p>
                <p class="copyright">COPYRIGHT © 2019 TECHNIK PC</p>
        </footer>

        <script src="../assets/js/main.js"></script>
</body>
</html>