<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Technik</title>
    <link rel="stylesheet" href="../assets/css/nav_style.css">
    <link rel="stylesheet" href="../assets/css/body_style.css">
    <link rel="stylesheet" href="../assets/css/component_style.css">
    <script src="https://kit.fontawesome.com/be5b1ff12e.js" crossorigin="anonymous"></script>
    
</head>
<body>
        <header>
            <img src="../assets/img/LOGO.png" alt="">
        </header>
    
        <div class="nav" id="res_nav">
            <a href="../WebDesign_Project/index.html" >Home</a>
            <div class="dropdown">
            <button class="dropbtn" >Components
                <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                        <a href="../components/chasis.html">Chasis</a>
                        <a href="../components/processor.html">Processor</a>
                        <a href="../components/motherboard.html">Motherboard</a>
                        <a href="../components/memory.html">Memory</a>
                        <a href="../components/gpu.html">Graphics Card</a>
                        <a href="../components/psu.html">Power Supply</a>
                        <a href="../components/storage.html">Storage</a>
                </div>
            </div>    
            <a href="../contact.html">Contact Us</a>
            <a href="../about.html" class="active">About Us</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="nav_bar()">&#9776;</a>
            </a>
        </div>

        <div>

            <h2>Component > Storage</h2>

            <div class="card">
                <img src="../assets/img/component/storage/HardDrive1.jpg" alt="Denim Jeans" >
                <h1>Seagate Baracuda 4TB</h1>
                <p class="price">P10,429.00</p>
                <p>Seagate Barracuda Internal Hard Drive 4TB SATA 6Gb/s 256MB Cache 3.5-Inch
</p>
                <p><button>Add to Cart</button></p>
            </div>

            <div class="card">
                <img src="../assets/img/component/storage/SSD3.jpg" alt="Denim Jeans" >
                <h1>Samsung 850 EVO SSD 1TB</h1>
                <p class="price">P8,895.00</p>
                <p>Samsung 850 EVO SSD 1TB - 2.5inch, mSATA m2 540MB/sec Write Speed 2x Faster Data Processing</p>
                <p><button>Add to Cart</button></p>
              </div>

              <div class="card">
                <img src="../assets/img/component/storage/HardDrive4.jpg" alt="Denim Jeans" >
                <h1>Western Digital Black 2TB</h1>
                <p class="price">P6,209.00</p>
                <p>WD Black 2TB Performance Desktop Hard Disk Drive - 7200 RPM SATA 6 Gb/s 64MB Cache 3.5 Inch - WD2003FZEX
</p>
                <p><button>Add to Cart</button></p>
              </div> 

        </div>





        <footer>
                <p class="disclaimer">DISCLAIMER: PRODUCT NAMES AND LOGOS USED IN THIS WEBSITE ARE FOR IDENTIFICATION PURPOSES ONLY AND ARE TRADEMARKS OF THEIR RESPECTIVE OWNERS.</p>
                <p class="copyright">COPYRIGHT © 2019 TECHNIK PC</p>
        </footer>

        <script src="../assets/js/main.js"></script>
</body>
</html>
